table {
    width: 100%;
    display: table;
      border-collapse: unset !important;
    border-spacing: 0;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fafafa;
    padding: 0;
    max-height: 70%;
    width: 35% !important;
    margin: auto;
    overflow-y: auto;
    border-radius: 7px !important;
    will-change: top, opacity;
  }
